@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: beige;
}

.recipeheading {
    font-family: 'Dancing Script', cursive;
    position: relative; /*top-right-bottom-left*/
    animation: header;
    animation-duration: 5s;
}

@keyframes header {
    0% {top: -250px}
    100% {top: 0}
}

.heading2 {
    font-family: 'Dancing Script', cursive;
    animation: heading2;
    animation-duration: 5s;
    position: relative;
}

@keyframes heading2 {
    0% {right: -1000px}
    100% {right: 0}
}

.pilt {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: pilt;
    animation-duration: 5s;
    position: relative;
}

@keyframes pilt {
    0% {left: -1000px;}
    100% {left: 0;}
}

.ingredients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ingredients-table {
    border: 1px solid black;
    margin: 0 auto;
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.instructions ol {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
}

.hints {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
}

